
.vs/CodeBits/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
CodeBits.sln
FrontEndDesigns/sabbie/0.png
FrontEndDesigns/sabbie/1.png
FrontEndDesigns/sabbie/2.png
FrontEndDesigns/sabbie/3.png
FrontEndDesigns/sabbie/4.png
FrontEndDesigns/sabbie/5.png
FrontEndDesigns/sabbie/logo.png
FrontEndDesigns/sabbie/logo2.png
